.navbar {
  background-color: #333; 
  overflow: hidden;
}
  
.navbar ul {
  list-style-type: none;
  margin: auto;
}
  
.navbar li {
  float: left; 
}
  
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
}
  
.navbar li a:hover {
  background-color: #111;
}

.theme-toggle-btn {
  background-color: transparent;
}

.theme-toggle-btn:hover {
  background-color: transparent;
}

.theme-icon {
  margin: auto;
  fill: black; 
  transition: fill 0.3s ease; 
}

.theme-icon:hover {
  fill: black; 
}